body {
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    color: hsl(224, 23%, 55%);
    min-height: 100vh;
    align-items: center;
    background: url(../images/pattern-background-desktop.svg) no-repeat;
    background-color: hsl(225, 100%, 94%);
    font-weight: 500;
}

.container {
    width: 24rem;
    display: grid;
    grid-template-rows: 33% 50%;
    background-color: white;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.cont {
    padding: 2% 10%;
}

.fior {
    display: flex;
    border-radius: 1rem;
    background: hsl(225, 100%, 98%);
}

.column1 {
    padding: 0 5%;
}

.column2 {
    padding: 0 18% 0 0;
}

.cancel {   
    margin: 30px 0 40px 0;
}

.hero {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.sec-col {
    text-align: left;
}

.sec-text {
    color: hsl(245, 75%, 52%);
}

.sec-text:hover {
    color: hsl(245, 94%, 66%);
    text-decoration: none;
}

.order {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 700 !important;
}

.order:hover {
    color: hsl(223, 47%, 23%);
}

.icon {
    margin-top: 16px;
}

.heading {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.paragraph {
    padding: 0 5% 0 5%;
}

.text {
    color: hsl(223, 47%, 23%);
    font-weight: 700;
    margin-bottom: 5px;
}

.price {
    margin-top: 0;
}

.btn {
    margin-top: 20px;
    color: #f8f9fa;
    background-color: hsl(245, 75%, 52%);
    box-shadow: 0 0 5px 0  hsl(245, 75%, 52%);
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.6rem 4.9rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
    background: hsl(245, 94%, 66%);
}


